<h1>Create a new player</h1>

<% if @player.errors.any? %>
    <h2>Fix the errors:</h2>
    <ul>
        <% @player.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<%= form_with scope: :player, url: players_path, local: true do |f| %>
    <p>
        <%= f.label :nickname %><br/>
        <%= f.text_field :nickname %>
    </p>
    <p>
        <%= f.label :first_name %><br/>
        <%= f.text_field :first_name %>
    </p>
    <p>
        <%= f.label :last_name %><br/>
        <%= f.text_field :last_name %>
    </p>
    <p>
        <%= f.label :slug %><br/>
        <%= f.text_field :slug %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>
